<header>  
  <h1>Welcome to the Robot World</h1>
</header>

<div class="container"  
  <ul>
    <li><a href="/robots">Robot Index</a></li>
    <li><a href="/robots/new">New Robot</a></li>
  </ul>
  <br>
  <br>
  <br>
  
  <p>The average age of our robots is: <%= @robot %>
</div>