<header>  
  <h1 class="rainbow">Welcome to the Robot World</h1>
</header>

<div class="container"  
  <ul>
    <li><a href="/robots">Robot Index</a></li>
    <li><a href="/robots/new">New Robot</a></li>
  </ul>
  <br>
  <br>
  <br>
  
  <p class="rainbow">The average age of our robots is: <%= @robot %> </p>
  <br>
  <br>
  
  <div >
  <p class="rainbow"> <%= @hiring_year %> </p>
  </div>
</div>